
  .friend-hr {
    margin: 10px;
  }
  .friend-p {
    margin: 10px 0px;
  }
  .friend-rubyColor {
    border-top: 1px solid #96281B;
    background: #22313F;
  }
  .card {
    margin: 0px 0px 20px 0px;
  }
  .card-title {
  
  }
  .card-deck .col-4 {
    padding-right: 0px;
  }
  .card-deck .card:not(:last-child) {
      margin-right: 0px;
  }
  /* .card-deck .card:first-child {
      margin-left: 10px;
  } */
  .friend-card h4 {
    font-size: 160%;
  }
  .friend-coverProfile {
  /*   margin: 10px 0px; */
    overflow: hidden;
    border-radius: 2px !important;
    padding: 0px 0px;
  }
  .friend-dropShadow {
     box-shadow: 0px 18px 34px 2px rgba(0,0,0,0.15);
  }
  .friend-dropShadow-small {
     box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.05);
  }
  .friend-mT10 {
    margin-top: 10px;
  }
  .friend-mT20 {
    margin-top: 20px;
  }
  .friend-mB10 {
    margin-top: 10px;
  }
  .friend-coverProfile img {
    border-top-right-radius: 2px !important;
    border-top-left-radius: 2px !important;
  }
  .friend-profileDetails {
    color: #FFFFFF;
    padding-bottom: 6px;
  }
  .friend-profileDetails h3 {
    margin-top: 10px;
    font-size: 160%;
  }
  .friend-btn-group-justified .friend-btn {
      width: 33.3%;
  }
  .friend-btn-link:focus, .friend-btn:focus {
      color: #FFFFFF;
      text-decoration: none;
      background-color: transparent;
      border: 0px;
  }
  .friend-rel {
    position: relative;
    text-align: center;
  }
  .friend-viewBtn {
    position: absolute;
    background: #87D37C;
    box-shadow: 0px 5px 24px 10px rgba(0, 0, 0, 0.44);
    bottom: 10px;
    left: 36%;
  /*   margin-left: -34px; */
    font-weight: bold;
    font-size: 14px;
    right: auto;
  /*   margin: 0 auto; */
  }